<div class="navbar-right">
  <p class="navbar-item"><a href="https://github.com">
    <span class="icon is-medium"><i class="fa fa-github-square"></i></span>
  </a></p>
  <p class="navbar-item"><a href="https://twitter.com">
    <span class="icon is-medium"><i class="fa fa-twitter-square"></i></span>
  </a></p>
  <p class="navbar-item"><a href="https://plus.google.com">
    <span class="icon is-medium"><i class="fa fa-google-plus-square"></i></span>
  </a></p>
  <p class="navbar-item"><a href="{{ .RSSLink }}">
    <span class="icon is-medium"><i class="fa fa-rss"></i></span>
  </a></p>
</div>
